@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Projekt.Web.ViewModels.EditCvViewModel

<h1>Edit CV</h1>

<form asp-action="Edit" method="post" enctype="multipart/form-data">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


    <div>
        <label>First name</label>
        <input asp-for="FirstName" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div>
        <label>Last name</label>
        <input asp-for="LastName" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div>
        <label>Email</label>
        <input asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>


    <div>
        <label>Address</label>
        <input asp-for="Address" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div>
        <label>
            <input asp-for="IsPublic" />
            Public profile
        </label>
    </div>

    


    <hr />

    <a asp-controller="Cv"
       asp-action="AddEducation">
        + Lägg till utbildning
    </a>

    @foreach (var u in Model.Utbildningar)
    {
        <div>
            <strong>@u.SchoolName</strong> – @u.Degree
            |
           
            <a asp-action="EditUtbildning"
               asp-route-id="@u.Id">
                Redigera
            </a>
            |

            <a asp-action="DeleteUtbildningConfirm"
               asp-route-id="@u.Id">
                Ta bort
            </a>
        </div>
    }

    <hr />

 

    <a asp-action="AddErfarenhet">+ Lägg till erfarenhet</a>

    @foreach (var e in Model.Erfarenheter)
    {
        <div>
            <strong>@e.Position</strong> – @e.CompanyName

            |
            <a asp-action="EditErfarenhet"
               asp-route-id="@e.Id">
                Redigera
            </a>
            |

            <a asp-action="DeleteErfarenhetConfirm"
               asp-route-id="@e.Id">
                Ta bort
            </a>

        </div>
    }

    <hr />

   

    <a asp-action="AddSkill">+ Lägg till kompetens</a>

    @if (Model.Skills != null && Model.Skills.Any())
    {
        <ul>
            @foreach (var s in Model.Skills)
            {
                <li>
                    <strong>@s.Name</strong> – nivå @s.Level / 5
                    |                 
                    <a asp-action="EditSkill"
                    asp-route-id="@s.Id">
                    Redigera
                    </a>
                </li>
            }
        </ul>
    }
    else
    {
        <p>Inga kompetenser tillagda.</p>
    }

    <hr />

    <h3>Projects</h3>
    <p>Kryssa i projekt du vill delta i</p>

    @for (int i = 0; i < Model.Projects.Count; i++)
    {
        <div>
            <input asp-for="Projects[i].IsSelected" />
            <label asp-for="Projects[i].IsSelected">@Model.Projects[i].Title</label>

            <input type="hidden" asp-for="Projects[i].ProjectId" />
            <input type="hidden" asp-for="Projects[i].Title" />
        </div>
    }

    <hr />

    <div>
        <label>Profile image</label>
        <input asp-for="ProfileImage" type="file" />
        

    </div>

    <hr />

    <a asp-controller="Account"
       asp-action="ChangePassword"
       class="btn btn-secondary">
        Ändra lösenord
    </a>


    <hr />


    <button type="submit">Save</button>

</form>
